aiohttp
aiokafka
cohere
configparser
dotenv
fastapi
fastembed
httpx
ipykernel
jupyterlab
kafka-python
langchain
langchain-community
langchain-experimental
langchain-openai
langchain-text-splitters
langfuse
langsmith
numpy
openai
pinecone
pinecone-text
prometheus-client
pydantic
pydantic-settings
pymilvus[model]
pypdf
python-dotenv
python-json-logger
qdrant-client[fastembed]
rank-bm25
redis
sentence-transformers
sse-starlette
structlog
tenacity
tiktoken
uuid
uvicorn[standard]
weaviate-client
ragas
datasets
langfuse