fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-community
openai
redis
aiokafka
kafka-python
pydantic
pydantic-settings
python-dotenv
sse-starlette
httpx
aiohttp
structlog
prometheus-client
python-json-logger
uuid
tenacity
langsmith
python-dotenv
langfuse
dotenv
jupyterlab
ipykernel
rank_bm25
sentence_transformers
numpy
pinecone
pinecone-text
weaviate-client
qdrant-client[fastembed]
fastembed
pymilvus[model]
configparser
cohere
rank-bm25
sentence-transformers